<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" href="${request.contextPath}/assets/css/bootstrap.css" />
	<link rel="stylesheet" href="${request.contextPath}/assets/css/login.css" />
	<link rel="stylesheet" href="${request.contextPath}/assets/css/footer&cbl.css" />
	<link rel="stylesheet" href="${request.contextPath}/assets/css/orientation.css" />
	<script type="text/javascript" src="${request.contextPath}/assets/js/jquery-1.11.3.js" ></script>
	<script type="text/javascript" src="${request.contextPath}/assets/js/bootstrap.js" ></script>
	<script type="text/javascript" src="${request.contextPath}/assets/js/templet.js" ></script>
	<script type="text/javascript" src="${request.contextPath}/assets/js/hp.js" ></script>
	<title></title>
</head>
<body>
<div id="main">
	<nav class=" navbar-inverse" id="orientation">
		<div class="orientation">
			<div class="navbar-header clearfix">
				<button type="button" class="zd" id="zd" >
					<span class="glyphicon glyphicon-align-justify"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="orientation_bar">
				<span class="close"><a href="index.html"><i></i></a></span>
			</div>
		</div>
		<div id="box">
			<div class="box1 col-sm-2 col-xs-2">
				<span id="X" class="glyphicon glyphicon-remove pull-right" ></span>
			</div>
		</div>
	</nav>
	<div class="main">
		<div class="container">
			<div class="c2">
				<p>A SSO server from Michael Cui</p>
			</div>
			<div class="c3">
				<form id="_loginForm" action="${request.contextPath}/login" method="post" validate="true" vmessage="false">
					<input type="hidden" name="redirectUri" value="${redirectUri}" />
					<input type="hidden" name="appId" value="${appId}" />
					<div class="form-group">
						<label for="_username">用户名</label>
						<input type="text" class="form-control" id="_username" name="username">
					</div>
					<div class="form-group">
						<label for="_password">密码</label>
						<input type="password" class="form-control" id="_password" name="password">
					</div>
					<div class="c3-1">
						<button id="login" type="submit" class="btn btn-default btn1">登录</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

</body>
</html>